<section id="factor">
  <article>
    <%= render_markdown(@factor) %>

    <div id="prev"><%= render_prev(@factor) %></div>
    <div id="next"><%= render_next(@factor) %></div>
  </article>
</section>
