<section class="abstract" id="factor">
  <article>
    <%= render_markdown(@factor) %>
  </article>
</section>

<section class="concrete" id="in-practice">
  <article id="in-practice">
    <%
      in_practice = render_markdown(@factor + '-in-practice')
      if in_practice
    %>
      <h1>In Practice</h1>
      <%= in_practice %>
    <% end %>
  </article>

  <nav>
    <div id="prev"><%= render_prev(@factor) %></div>
    <div id="next"><%= render_next(@factor) %></div>
  </nav>
</section>
