<header>The Twelve-Factor App</header>
<div id="main" role="main">
  <section id="abstract">
    <%= render_markdown('abstract') %>
  </section>

  <section id="who">
    <%= render_markdown('who') %>
  </section>

  <section id="toc">
    <%= render_markdown('toc') %>
  </section>
</div>
<footer>
</footer>
