<section class="abstract">
  <article><%= render_markdown('abstract') %></article>
  <article><%= render_markdown('who') %></article>
</section>

<section class="concrete">
  <article><%= render_markdown('toc') %><article>
</section>

<footer>
  <div>Copyright &copy; <%= Time.now.year %> Adam Wiggins</div>
</footer>
