<section class="abstract">
  <article><%= render_markdown('intro') %></article>
  <article><%= render_markdown('background') %></article>
  <article><%= render_markdown('who') %></article>
</section>

<section class="concrete">
  <article><%= render_markdown('toc') %><article>
</section>

<footer>
  <div>Written by Adam Wiggins</div>
  <div>version 0.9</div>
  <div>Last updated July 30, 2011</div>
</footer>
