<section class="abstract">
  <article><%= render_markdown('intro') %></article>
  <article><%= render_markdown('background') %></article>
  <article><%= render_markdown('who') %></article>
</section>

<section class="concrete">
  <article><%= render_markdown('toc') %><article>
</section>

<footer>
  <span>Written by Adam Wiggins</span>
  <span>Last updated Jan 30, 2012</span>
  <span><a href="https://github.com/heroku/12factor">Sourcecode</a></span>
  <span><a href="/12factor.epub">Download ePub Book</a></span>
</footer>
