<section class="abstract">
  <article><%= render_markdown('intro') %></article>
  <article><%= render_markdown('background') %></article>
  <article><%= render_markdown('who') %></article>
</section>

<section class="concrete">
  <article><%= render_markdown('toc') %><article>
</section>

<footer>
  <div>Written by Adam Wiggins</div>
  <div>Last updated Dec 22, 2011</div>
  <div><a href="http://github.com/adamwiggins/12factor">Sourecode</a></div>
</footer>
