<header>
  <h1>The Twelve-Factor App</h1>
</header>

<div id="main" role="main">
  <section id="abstract">
    <article>
      <%= render_markdown('abstract') %>
    </article>
  </section>

  <section id="who">
    <article>
      <%= render_markdown('who') %>
    </article>
  </section>

  <section id="toc">
    <article>
      <%= render_markdown('toc') %>
    <article>
  </section>
</div>

<footer>
  <div>Copyright &copy; <%= Time.now.year %> Adam Wiggins</div>
</footer>
