body {
  margin: 0;
  padding: 0;
  font-family: Georgia, sans-serif;
  line-height: 1.5em;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

header {
  margin: 0;
  padding: 26pt;
  border: 1px solid black;
  color: #fff;
  background: #000;
  font-size: 22pt;
  text-align: center;
  box-shadow: 0px 2px 12px #888;
  margin-bottom: 12pt;
}
header a {
  text-decoration: none;
  color: #fff;
}

section {
  padding-left: 64pt;
  padding-top: 16pt;
}
section h1 {
  font-size: 18pt;
  border-bottom: 2px solid #aaa;
}

article {
  width: 60em;
}

section#toc {
  background: #ccc;
  margin-top: 24pt;
  padding-top: 32pt;
  padding-bottom: 32pt;
}
section#toc h1 {
  font-size: 32pt;
  border: 0;
  margin-bottom: 24pt;
}
section#toc h2 {
  margin-top: 12pt;
}
section#toc h2 a {
  text-decoration: none;
  color: #000;
}
section#toc h2 a:hover {
  color: #337;
}
section#toc h3 {
  font-weight: normal;
}

footer {
  color: #444;
  font-size: 12pt;
  background: #000;
  height: 48pt;
  padding-top: 64pt;
  padding-left: 64pt;
}
